h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: 'quicksand','HelveticaNeue','Helvetica Neue','Helvetica-Neue',Helvetica,Arial,sans-serif;
}

.div_form_title {
  padding-bottom: 30px;
}
.form_first_title {
  text-align: justify;
  color: #ec3d3a;
}

.form_title {
  text-align: justify;
  /*font-weight: bold;*/
  color: #ec3d3a;
  border-bottom: 1px solid grey;
}

.form_paragraph {
  text-align: justify;
}

p {
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

.fond_bleu {
  background-color: #137fc2;
  /*Ty ilay loko tena izy : #064266*/
  /*width: 100%;*/
}

.fond_gris {
  background-color: grey;
  /*Ty ilay loko tena izy : #064266*/

}

.fond_bleu_drapeau {
  background-color: #064266;
  padding-top: 40px;
  padding-bottom: 0px;
  /*Ty ilay loko tena izy : #064266*/
  /*width: 100%;*/
}

.section_index {
  padding-top: 70px;
  padding-bottom: 62px;

}

.section {
  padding-top: 40px;
  padding-bottom: 62px;
}

.section_top {
  padding-top: 90px;
  padding-bottom: 75px;
}


.icons {
  text-align: center;
  line-height: 8;
}
.form_icon {
  width: 96px;
}

#enter_the_form {
  margin-top: 20px;
}

.texte_blanc {
  color: white;
}

.interligne {
  line-height: 2.7;
}

#align_left {
  text-align: left;
}

.img_center {
    text-align: center;
  }

.flag {
  width: 36px;
}


.tourist {
  width: 340px;
  margin-top: -31px;
}

.menu {
  margin-top: 56px;
  margin-bottom: -13px;
}


.under_logo {
    /*width: 538px;*/
    margin-bottom: -29px;
    margin-top: -52px;
    margin-left: -47px;
}

#portal {
  margin-top: 43px;
}


@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  a:not(.btn) {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .container {
    min-width: 992px !important; }
  .navbar {
    display: none; }
  .badge {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important; }
  .table-dark {
    color: inherit; }
    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
      border-color: #dee2e6; }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6; } }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #ec8f6a; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }



@media only screen and (max-width: 768px)
{

  .mobile_img {
    text-align: center;
  }

  .mobile_padding_bottom {
    padding-bottom: 20px;
  }

  .section_top {
    padding-top: 25px;
    padding-bottom: 0px;
  }

  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section_index {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .tourist {
    width: 343px;
    margin-top: 7px;
  }

  #align_left {
    text-align: left;
    margin-top: 23px;
  }

  .under_logo {
    width: 500px;
    margin-bottom: -25px;
    margin-top: 11px;
    margin-left: 0px;
  }

  .fond_bleu_drapeau {
    background-color: #064266;
    padding-top: 0px;
    padding-bottom: 5px;
    /* width: 100%; */
  }


}
